.testing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: percentage(3/4);
}

body {
  background: darkorange;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s
}

.block {
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}